
<form [formGroup]="registerForm" (ngSubmit)="procesarArchivo()" class="form-signin estilo-formulario">
    <img class="mb-4" src="assets/img/carga.jpg" alt width="90" height="90" class="mx-auto d-block">
    <br/>
    <h1 class="h3 mb-3 font-weight-normal text-center">Mudanzas</h1>
    <div class="form-group">
        <input type="number" maxlength="15" placeholder="No. Documento" required formControlName="numDocumento" [(ngModel)]="numDocumento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numDocumento.errors }" />
        <div *ngIf="submitted && f.numDocumento.errors" class="invalid-feedback">
            <div *ngIf="f.numDocumento.errors.required">El documento es requerido</div>
        </div>
    </div>
    <div class="form-group">
        <input type="file" required formControlName="archivo" class="form-control-file" 
          [ngClass]="{ 'is-invalid': submitted && f.archivo.errors }" 
          (change)="cargarArchivo($event)"/>
        <div *ngIf="submitted && f.archivo.errors" class="invalid-feedback">
            <div *ngIf="f.archivo.errors.required">El archivo es requerido</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block">Procesar</button>
    </div>
</form>
